<form action="/api/session/login" method="POST" class="m-5">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="text" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<a href="/register">Aún no tengo cuenta..</a>
<h1>Login github</h1>
<a href='/api/sessions/github'>Entrar con github</a>
